{% extends "/shared/_base.html" %}

{% block content %}
    <section id="body" class="flex flex-col bg-slate-50 justify-center items-center max-w-screen-lg m-auto">
        <div class="h-full">

            {% block details %}
            {% if artist %}
            <div class="flex flex-col justify-center items-center py-8 odd:bg-slate-200 even:bg-slate-100"
                 hx-get="/detail/?doc_id={{next_id}}"
                 hx-trigger="revealed"
                 hx-swap="afterend"
                 hx-push-url="true">
                <div class="basis-1">
                    <img src="{{images(artist)[0]}}"
                        class="rounded-lg bg-cover bg-center h-full"
                        alt="{{artist['name']}}"
                        >
                </div>
                <h4 class="text-2xl py-6 font-bold text-center"><a href="{{get_website(artist)}}" class="text-cyan-900 hover:text-cyan-500">{{artist['name']}}</a></h4>
                <p class="text-slate-900 py-6 px-12"><span class="text-sm uppercase">Active Members:</span>
                    {% for member in get_members(artist) %}
                    <span class="px-1 text-sm text-slate-600">{{member}}</span>
                    {% endfor %}
                </p>
                <p class="mx-36 p-6 max-h-32 text-sm bg-slate-50 rounded-l-2xl text-slate-500 border border-slate-300 overflow-y-auto overflow-x-clip">{{get_profile(artist)|safe}}</p>
                {% if get_wiki(artist) %}
                <a href="{{get_wiki(artist)}}" class="px-4 py-2 text-cyan-700 hover:text-cyan-500">More on Wikipedia</a>
                {% endif %}
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </section>
{% endblock %}