<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>Music Binder</title>
  <meta name="description" content="Demo site showcasing a Python-backed frontend."/>

  <!-- OPTIONAL: Facebook Open Graph: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:site_name" content="{{ site_name }}"/>
  <meta property="og:type" content="Simple site featuring tailwind and htmx..."/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description"  content="Demo site showcasing a Python-backed frontend."/>
  <meta property="og:url" content="https://wwww.example.com"/>

  <!-- OPTIONAL: Favicon! -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png'">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

  <!-- htmx -->
  <script src="/static/js/htmx.min.js"></script>
</head>

<body class="bg-slate-900">
    {% block header %}
    {% include "/shared/_header.html" %}
    {% endblock %}

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}
</body>
</html>