{% extends "/shared/_base.html" %}

{% block content %}
    <section id="body" class="flex flex-col bg-slate-50 justify-center items-center max-w-screen-lg m-auto">
        <div class="flex flex-col justify-center items-center py-10">
            <h2 class="text-2xl font-bold text-slate-800 uppercase">About</h2>
            <div id="about_section" class="flex flex-col items-left py-10">
            <p class="py-3 px-24 first-of-type:pt-0">Imagine a simpler time, when listening to music involved little plastic casings called <em>cassettes</em>,
            or maybe a little later, when music was contained in miniature frisbees with a hole in the middle (aka, CDs).</p>
            <p class="py-3 px-24 first-of-type:pt-0">Back then, our music libraries were contained in a physical space, whether a cassette tape rack, or those old
                CD binders with sleeves for the awesome CD art (and occasional lyrics). And let's not forget about those awesome
                mixes we used to make.</p>
            <p class="py-3 px-24 first-of-type:pt-0">Now a days, all we have are songs somewhere on the "cloud" and our "mixes" have become "playlists". Blah.</p>
            <p class="py-3 px-24 first-of-type:pt-0">But at the very least, we can build little apps to emulate the feeling of having our music all in one place.
                Sure, you can do this within your favorite streaming app as well, but then again, why not make your own
                using a little Python, htmx, and TailwindCSS?</p>
        </div>
        </div>
    </section>
{% endblock %}